

header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
}
menu ul li{
    display: inline-block;
}
menu ul{
    text-align: right;
    margin-right: 25px;
}
#container{
    background-color: rgb(209, 205, 205);
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 768px){
    #container{
        flex-direction: column;
    }
    
} 

section{
    margin-top:200Px;
}
#annonce{
    width: 51%;
}
@media screen and (max-width: 768px){
    #annonce{
        width:100%;
    }
} 
#informations{
    width: 33%;
}
@media screen and (max-width: 768px){
    #informations{
        width:100%;
    }
} 
#image{
    background-color: white;
    padding: 15px;
    margin:20px 90px;
}
#image img{
    max-width: 100%;
}
#details{
    background-color: white;
    padding: 15px;
    margin: 20px 90px;
}
#titres{
    background-color: white;
    padding: 15px;
    margin: 20px 90px;
}
#prix{
    background-color: white;
    padding: 15px;
    margin: 20px 90px;
}
td{
    border: 1px solid black;
    padding: 5px;
}
th{
    border: 1px solid black;
    padding: 5px;
}
table{
    border-collapse: collapse;
}
#article{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 90px;
    padding-bottom: 40px;
}
@media screen and (max-width: 768px){
    #article{
        flex-direction: column;
    }
    
} 
#carte{
    width: 20%;
}
footer{
    padding: 75px;
    border-top: 1px solid black;
    width:100%;
}